API_CONTAINER_NAME=bt-be
API_URL=http://localhost:3030
API_AUTH=<INSERT-TOKEN>
API_SP_ID=<INSERT-ID>

UI_URL=http://localhost:80

TEST_RAM_INT_MS=1000
TEST_ITERATIONS=1000000
TEST_VUS=10
TEST_LIGHTHOUSE_RUNS=10